#header-id{
    background-color: hotpink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body{
    margin: 0;
}

.orders-container{
    width: auto;
    height:auto;
    background-color: grey;
    back
}